In [13]:
import pandas as pd

In [19]:
person = {
    'first':['Corey','Jane', 'John'],
    'last':['Schafer', 'Doe', 'Doe'],
    'email':['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [20]:
person

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreyMSchafer@gmail.com',
  'JaneDoe@email.com',
  'JohnDoe@email.com']}

In [28]:
person['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

#### Creating a DataFrame with a List

In [26]:
df=pd.DataFrame(person)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [27]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [29]:
type(df['email'])  # Series = single column of rows

pandas.core.series.Series

In [30]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [33]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [34]:
type(df[['last', 'email']])   # Dataframe

pandas.core.frame.DataFrame

In [35]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

#### Searching by Index Location

In [38]:
df.iloc[0]   # Gives the first row

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [46]:
df.iloc[[0,1]]   # Gives the first 2 rows of data

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [47]:
df.iloc[[0,1], 2]  # Go Through lines 0 to 1 and column 2

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [49]:
df.loc[[0, 1]]  # In this case loc works the same way as iloc

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

#### Searching by Strings

In [50]:
df.loc[[0, 1], 'email']  # Here you can use the name of the column for searching

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [51]:
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

#### Setting a New Index

In [61]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [62]:
df.set_index('email', inplace=True)  # To make the chane use inplace=True

In [64]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [67]:
df.loc['CoreyMSchafer@gmail.com', 'last']  # Use loc like a filters very useful

'Schafer'

In [69]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [71]:
df.reset_index(inplace=True)  # Reseting the index
df

   index                    email  first     last
0      0  CoreyMSchafer@gmail.com  Corey  Schafer
1      1        JaneDoe@email.com   Jane      Doe
2      2        JohnDoe@email.com   John      Doe

#### FIltering Data

In [94]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')
filt

0     True
1    False
2     True
dtype: bool

In [95]:
df[filt]

   index                    email  first     last
0      0  CoreyMSchafer@gmail.com  Corey  Schafer
2      2        JohnDoe@email.com   John      Doe

In [98]:
df.loc[filt,'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [97]:
df.loc[~filt,'email']    # Negation of the sentence filt

1    JaneDoe@email.com
Name: email, dtype: object